# Mark Down Basics
* **bold**
*italic*
***BOLDITLIC***
* normal text 
   * sublist
   * sublist2 *
   
   
1. oredered list1
2. ordered list2

In [ ]:
a=9581645635

In [ ]:
print

1. element1
2. element2

[thor](guruvaaahhh.jpg)

- [] option1
- [] option2
- [] option3
- [] option4
 ![mama](guruvaaahhh.jpg)

<img src="guruvaahhh.jpg" style="float:left">
< 1.daffa
< 2.jaffa


i get more income [myself] [1] than [apssdc] [2].

[1]: http://www.facebook.com/   "myself"
[2]: http://www.apssdc.in/      "apssdc"



'printf("code snippets")'




I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
  
  mardown("google.com")

# Python Basics
###### Python version 3.7

- scripting
- object oriented
- i dont know

In [ ]:
#Python comments
print("good eveneing feeling soo sleepy","!",end=" ")#basic Output
print("Hello python niiii")

### Assignment

In [ ]:
a=123456  #sing;e variable assignment

           #multivariable assignment of same variable
b = c = d = a
d

#multivariable assignment with different values
e,f,g = 123,234,345
print(g,f,c)
c,d,d+f,d,a

# Data Types & type conversions
- int
- float
- String
- double

In [ ]:
s="Shiva Venkat"
type(s)
f1=0.9581645635
#type(f1)
str(f1)

# Arthematic Operations using 
- +
- - 
- * 
- /
- **
- %

In [ ]:
a=123
b=234

print(a%99)
print(b**12)
n=b**12
type(n)
##len(str(n))
n3=n**1
##print(n3)
len(str(n3))
atoms=10**83
len(str(atoms))
print(atoms)
type(str(atoms))

# conditionals
-

In [ ]:
if atoms < 10 **99:
    print("TRUE")
else:
    print("FALSE")
len("true")
str(len("true"))

In [ ]:
#enen or odd
a=int(input("enter a number"))
if(a%2==0):
    print("even no")
else:
    print("odd no")

In [6]:
 #find the greatest of three no
n1=int(input("enter the 1st no"))
n2=int(input("enter th 2nd no"))
n3=int(input("enter a 3rd no"))
if(n1>n2 and n1>n3):
    print(n1,"is greatest no")
elif(n2>n3):
    print(n2,"is the greatest no")
else:
    print(n3,"is the greatest no")

enter the 1st no-90
enter th 2nd no-890
enter a 3rd no-67854
-90 is greatest no

In [13]:
year=int(input("enter a year"))
if((year%400)==0 or ((year%100)!=0 and (year%4)==0)):
    print(year,"leap year")
else:
    print(year,"not a leap year")

enter a year2016
2016 leap year

In [16]:
n=int(input("enter a no"))
if(n<=0 and n>=150):
    print(n,"in range")
else:
    print(n,"out of range")

enter a no23
23 out of range

In [18]:
#check if a no is multiple of 10
n=int(input("enter a no"))
if(n%10==0):
    print("multiple of 10")
else:
    print("not multiple of 10")

enter a no234
not multiple of 10

In [40]:
string=input("entar a no")
hlo=int(input("enter a no"))
if(hlo==hi):
    print("equal")
else:
    print("not equal")

entar a no123
enter a no123
not equal

In [28]:
#caculate the no of microseconds in a given year 
366*24

8784

In [29]:
8784*60

527040

In [31]:
A=366*24*60*60*10**9
A

31622400000000000

In [36]:
B=365*24*60*60*10**9
B

31536000000000000

In [44]:
a=int(input("enter a year"))
if(a%400 ==0 or (a%100!=0 and a%4==0)):
    print("no of nano seconds in",a,"is",A)
else:
    print("no of nano seconds in",a,"is",B)
    c=str(A)
    print(len(c))

enter a year2019
no of nano seconds in 2019 is 31536000000000000
17

In [39]:
a=int(input("enter a  no"))
print("square root is",a**0.5)

enter a  no76
square root is 8.717797887081348