# Problem Solving and Programming
## Day Objectives
- string slicing
- Basic Problems
- Applying Data Structures to Solve problems

# String Slicing

In [1]:
s1 = "Python"
s1

'Python'

In [2]:
s1[len(s1)-1]

'n'

In [3]:
s1[1]  #accessesing 1st charatcer
s1[1]    #acessing second character
s1[len(s1)-1] #another the last character
s1[-1]  #acessing last character
s1[-2] #acessing penultimate character of a string

s1[0:2]  #for printing first 2 characters

s1[-3:] #for print last three characters
s1[4:] 
s1[1:-1]
s1[(len(s1)//2)]

'h'

### reverse of a string

In [4]:
s1[-1::-1]

'nohtyP'

In [5]:
b="mom"

In [6]:
b[-1::-1]  #to reverse entire string

'mom'

In [7]:
s1[-1:-3:-1] #for acesseing a last two characters

'no'

In [8]:
#reverse the middle two characters of in an even length string


a="sivare"
a[len(a)//2:1:-1]

'av'

In [9]:
#acesesing alternate character in a string

a[len(a)//2:2:-1]

'a'

In [10]:
a[-1::-2]

'eai'

# function

In [11]:
#function to reverse a string
def reverseString(s):
    return s[::-1]


reverseString("python")

'nohtyp'

In [12]:
#function check if string is palindrome
def pallindrome(s):
    if( s == s[::-1]):
        return True
    else:
        return False
pallindrome("")

True

In [13]:
def leap(s):
    if(s%400==0 or (s%100!=0 and s%4==0)):
        return True
    else:
        return False

leap(1998)

False

In [14]:
def noofDigits(a):
    su=len(str(a))
    return su



noofDigits(1234567890)

10

In [15]:
def greatest(a,b,c ,d):
    if(a>b and a>c and a>d):
        return a
    elif(b>c and b>d):
        return b
    elif(c>d):
        return c
    else:
        return d
    
greatest(234,456,678,123)

678

### iteration

- for
- while

In [16]:
#function to print n natural no
def printNaturalno(n):
    for counter in range(1,n+1):
        print (counter,end=" ")
    return

printNaturalno(10)

1 2 3 4 5 6 7 8 9 10

In [17]:
#functin pro=int n natural no uding a while loop
def nNatural(n):
    counter = 1
    while counter <= n:
        print(counter,end=" ")
        counter=counter+1
    return
nNatural(54)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54

In [18]:
#function to print the alternate values in the both boundaries are exclusive
#[500,550] ->both are inclusive
#(500,550) ->both boundaries are exclusive
def alternateNo(lb,ub):
    for counter in range (lb,ub+1 ,2):
        print(counter,end=" ")
    return
alternateNo(10,20)

10 12 14 16 18 20

In [19]:
#function of revaerse in a range
def reverseNo(lb,ub):
    for counter in range (ub,lb-1,-2):
         print(counter,end=" ")
    return

reverseNo(10,20)

20 18 16 14 12 10

In [20]:
#function to print odd no in reverse order
def oddReverse(lb,ub):
    for i in range (ub,lb-1,-1):
        if(i%2!=0):
            print(i,end=" ")
    return
oddReverse(10,20)

19 17 15 13 11

In [21]:
#function to print all numbers divisible 6 and not a factor of 100 gine range (lb and ub)
def myc(a,b):
    counter=a
    for counter in range (a,b+1):
        if(a%2==0 and a%3==0 and 100%a!=0):
            print(a, end = " ")
            a=a+1
        else:
            a=a+1

myc(10,1000)

12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198 204 210 216 222 228 234 240 246 252 258 264 270 276 282 288 294 300 306 312 318 324 330 336 342 348 354 360 366 372 378 384 390 396 402 408 414 420 426 432 438 444 450 456 462 468 474 480 486 492 498 504 510 516 522 528 534 540 546 552 558 564 570 576 582 588 594 600 606 612 618 624 630 636 642 648 654 660 666 672 678 684 690 696 702 708 714 720 726 732 738 744 750 756 762 768 774 780 786 792 798 804 810 816 822 828 834 840 846 852 858 864 870 876 882 888 894 900 906 912 918 924 930 936 942 948 954 960 966 972 978 984 990 996

In [22]:
#sum of all no in Range
def sumNo(lb,ub):
    sum=0
    for i in range(lb,ub+1):
        sum=sum+i
    return sum

sumNo(10,29)

390

In [23]:
#function to calculate avarage of no in a Given Range
def avg(lb,ub):
    sum=0
    avg=0
    k=0
    for i in range (lb,ub+1):
        sum=sum+i
        k=k+1
    avg=int(sum/k)
    #avg=int(avg)
    return avg

avg(1,10)

5

### leap year one form

In [24]:
#function to generate the leap years in given time period 
def listOfLeap(lb,ub):
    for i in range(lb,ub+1):
        if(i%400==0 or (i%4==0 and i%100!=0)):
            print(i,end=" ")
            i=i+1
        
    return
listOfLeap(2016,2018)

2016

### leap year another form

In [25]:
def isLeapYear(year):
    if(year%400==0)or(year%4==0 and year%100!=0):
        return True
    else:
        return False
    
isLeapYear(2018)

False

In [115]:
def generatenoofdays(start,end):
    sum=0
    for i in range(start,end+1):
        if isLeapYear(i):
            sum+=366
        else:
            sum+=365
    return sum

generatenoofdays(2016,2019)

1461

In [55]:
def noofLeap(lb,ub):
    j=0
    for i in range (lb,ub+1):
        if isLeapYear(i):
            j=j+1
    return j

noofLeap(2016,2018)

1

In [98]:
#calculate number of days in given time period considering leap years also
def noofDays(lb,ub):
    j=0
    k=0
    days=0
    sum=0
    for y in range(lb,ub+1):
        if isLeapYear(y):
            #sum=sum+366
           #print(j, end=" ")
            j=j+1
            y=y+1
        else:
            sum=sum+365
            #print(k)
            k=k+1
            y=y+1
    days=((j*366)+(k*365))
    #print(days)
    return days

 

noofDays(2002,2003)

730

In [68]:
def noofDaysinMonth(month,year):
    if (month==2):
        if isLeapYear(year):
            return 29
        return 28
    elif(month>=8 and month<13 and month%2==0)or(month<=7 and month%2!=0 and month!=0):
        return 31
    else:
        return 30


noofDaysinMonth(2,2016)

29

In [46]:
#function to calculate number of hours 
noofDays(2000,2010)*24

96432

In [119]:
def startmonthdays(month,year):
    days=0
    for month in range (month,13):
        days+=noofDaysinMonth(month,year)
    return days
startmonthdays(1,2016)

366

In [125]:
def endmonthdays(month,year):
    days=0
    for month in range(month,0,-1):
        days+=noofDaysinMonth(month,year)
    return days

endmonthdays(12,2016)

366

In [128]:
#no of days in a given time period
def noofHours(m1,y1,m2,y2):
    a=0
    b=0
    c=0
    days=0
    b=startmonthdays(m1,y1)
    print(b)
    c=endmonthdays(m2,y2)
    print(c)
   
    
    
noofHours(11,2016,12,2016)

61
366

In [ ]:

    if y2-y1==2:
        a=generatenoofdays(y1+1,y1+1)
    elif y2-y1>2:
        a=generatenoofdays(y1+1,y2-1)
    print(a)
    days=a+b+c
    hours=days*24
    #print(days)
    return hours

In [32]:
#function to calculate no hours for given period 
#numberofHours(11,1975,3,1999)

In [33]:
#find the avaerage of cubes all given nos (lb,ub)
def aoc(a,b):
    a=int(a)
    b=int(b)
    su=0
    average=0
    i=0
    for count in range(a,b+1):
        if(count%2==0):
            count=count**3
            su=su+count
            i=i+1
            count=count+1
        
    average=su/i
    return average


aoc(1,4)

36.0

In [34]:
#function to generate all factors of a given no
def fac(n):
    for i in range (1,n+1):
        if(n%i==0):
            print(i ,end=" ")
            i=i+1
        else:
            i=i+1
         
fac(9581)

1 11 13 67 143 737 871 9581

In [35]:
#factorial of a no
def factorial(n):
    fact=1
    for i in range (2,n+1):
        fact*=i
    return fact
factorial()

TypeError: factorial() missing 1 required positional argument: 'n'

In [ ]:
#function check if a no is prin=me or not
def pri(n):
    if(n%2==0 or n%3==0 or n%5==0 or n%9==0 ):
        return False
    else:
        return True
pri(17)

In [ ]:
#function to calculate the average of first n prime no
def avgPrime(n):
    primecount=0
    sum=0
    seqCount=2
    while(primecount<n):
        if ispri(seqCount):
            primecount+=1
            sum += seqCount
        seCount +=1
    return sum/n

avgPrime(10)

In [36]:
#armstrong
def armstrong(n):
    m=len(str(n))
    o=str(n)
    sum=0
    j=0
    arm=0
    k=0
    for i in range(0,m):
        j=o[i]
        k=int(j)
        sum=k**m
        arm=arm+sum
    if(arm==n):
        return True
    else:
        return False
    
armstrong(40028394225)

True

In [ ]:
def allamstrong(num):
    for i in range(1,num+1):
        if armstrong(i):
            print(i,end=' ')
    return

allamstrong(10)

In [52]:
def noofArm(n):
    count=0
    for i in range(1,10000000000000000):
        if armstrong(i):
            count=count+1
            print(i,end=" ")
            if(count==n):
                return 
    return
noofArm(20)

1 2 3 4 5 6 7 8 9 153 370 371 407 1634 8208 9474 54748 92727 93084 548834

In [ ]:
 for b in range (1,1000000000):
            if armstrong(b):
                print(b,end=" ")
                i=+1